.container {
  background: linear-gradient(to right, rgb(148, 204, 230), rgb(243, 164, 243));
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 2rem;
  display: flex;
  margin-bottom: 3rem;
  margin-left: 15%;
}
.inputEmail {
  width: 100%;
  height: 2rem;
}
.inputPass {
  width: 90%;
  height: 2rem;
}

.pass {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
}

label {
  color: #2c2c2c;
  align-self: flex-start;
  margin: 0.5rem;
  position: relative;
}
.btnShowPass {
  background-color: transparent;
  border: none;
  height: 2rem;
  width: 10%;
  cursor: pointer;
}

svg {
  color: rgb(115, 1, 221);
  display: flex;
  align-items: center;
}

.spanVal {
  color: red;
  margin-top: 0.5rem;
}

.btnLogin {
  width: 100%;
  height: 2rem;
  margin: 2rem;
  border: 1px solid #2c2c2c;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btnLogin:hover {
  color: rgba(115, 1, 221);
}

.loader {
  width: 3rem;
  height: 3rem;
  position: absolute;
  margin-top: 11rem;
  border: 5px solid rgb(255, 255, 255);
  border-bottom-color: rgb(115, 1, 221);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadervisible {
  display: block;
}
.loaderhidden {
  display: none;
}
